.signup-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-div{
    width: 30vw;
    height: 80vh;
    border-radius: 5px;
    border: 0.3px #8d8888 solid;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    overflow: hidden;
}
.signup-div ul{
    height: calc(.75 * 80vh);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.signup-div li{
    display: flex;
    flex-direction: column;
}
.signup-div input{
    background-color: transparent;
    border-bottom: 1px #878282 solid;
    outline: none;
    padding-top: 3px;
}
.signup-div input:focus{
    border-bottom: 1.5px #000000 solid;
}
.signup-div .signup-btn{
    background-color: #012f34;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
}
.signup-div .signup-btn:hover{
    background-color: #ffffff;
    color: #000000;
    border: 0.5px #000000 solid;
    box-shadow: #0000003d 0px 3px 8px;
}
