.nav{
    height: 4.3rem;
    width: 100vw;
    background-color: #F7F8F9;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    z-index: 1;
}

.form-container h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-stretch: normal;
}

.form-container form{
    z-index: 0;
    position: absolute;
    top: 8rem;
    width: 55vw;
    border: 0.5px #8d8888 solid;
    border-radius: 5px;
}

.form-container label{
    font-size: 13px;
}
.form-container .textfiled{
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    width: 27rem;
}
.form-container textarea{
    border: 1px solid black;
    border-radius: 3px;
    resize: none;
    outline: none;
}
.image-upload{
    width: 7rem;
    height: 7rem;
    border: 1.5px solid rgb(139, 134, 134);
}
.postBtn{
    padding: 12px;
    border-radius: 8px;
    background-color: cadetblue;
    font-weight: 600;
}
.textfiled{
    outline: none;
}